---
import type { technology } from './TeckStackList.astro';
import TeckStackList from './TeckStackList.astro';
interface Props {
  title: string;
  techStack?: technology[];
  href?: URL;
}

const { href, title, techStack } = Astro.props;
---

<article>
  <span class="ProjectCard-titleContainer">
    {
      href !== undefined ?
      <a href={href.toString()}>{title}</a> :
      <span>{title}</span>
    }
  </span>
  <a href={href?.toString()}></a>
  <section class="projectContext">
    <span class="sectionTitle">Contexto</span>
    <slot name="projectContext"></slot>
  </section>
  <section class="projectResponsibilities">
    <span class="sectionTitle">Responsabilidades</span>
    <slot name="responsibilities"></slot>
  </section>
  <section class="projectAchievements">
    <span class="sectionTitle">Logros</span>
    <slot name="achievements"></slot>
  </section>
  {techStack && <TeckStackList techStack={techStack}></TeckStackList>}
</article>

<style>
  .projectContext, .projectResponsibilities, .projectAchievements {
    display: none;

    .sectionTitle {
      font-size: 1rem;
      display: inline;
      font-weight: 600;
      margin: 0 0 2px 0;
    }

    &:has(.sectionTitle ~ *){
      display: block;
    }
  }

</style>